### R-4.1

In [27]:
def find_max1(S, n):
    """Return max item of the sequence S. """
    if n == 1:
        return S[0]
    else:
        if find_max1(S, n-1) >= S[n-1]:
            return find_max1(S, n-1)
        else:
            return S[n-1]

In [43]:
M = [1, 2, 3, 5, 5, 4, 1, 8]
find_max1(M, len(M))

8

时间复杂度：$O(n)$  
空间复杂度：$O(n)$

In [44]:
def find_max2(S):
    n = len(S)
    if n == 1:
        return S[0]
    else:
        if find_max2(S[:(n//2)]) >= find_max2(S[(n//2):]):
            return find_max2(S[:(n//2)])
        else:
            return find_max2(S[(n//2):])

In [45]:
find_max2(M)

8

时间复杂度：$O(n)$  
空间复杂度：$O(logn)$

### R-4.6

In [46]:
def Hn(n):
    if n == 1:
        return 1
    else:
        return 1/n + Hn(n-1)

In [53]:
Hn(4)

2.083333333333333

In [54]:
1 + 1/2 + 1/3 + 1/4

2.083333333333333

### R-4.7

In [86]:
def str_int(s, n):
    ls = list(s)
    if n == 1:
        return (10**(len(ls)-(n))) * int(ls[0])
    else:
        return (10**(len(ls)-(n))) * int(ls[n-1]) + str_int(s, n-1)

In [88]:
str_int("1234", 4)

1234

---

### C-4.9

In [89]:
# 见 C-4.1

### C-4.10

In [108]:
def log_int(n):
    if n == 1:
        return 0
    else:
        return 1 + log_int(n//2)

In [111]:
log_int(64)

6

In [112]:
log_int(65)

6

In [113]:
log_int(63)

5

### C-4.11

In [146]:
def unique4(S, n):
    if n == 1:
        return True
    else:
        if S[n-1] in S[:n-1]:
            return False
        else:
            return (True & unique4(S, n-1))

In [148]:
unique4([1,2,3,4], 4)

True

In [149]:
a = [1, 2, 3, 4]
a[:3]

[1, 2, 3]

### C-4.12

In [150]:
def multi(m, n):
    if n == 1:
        return m
    else:
        return m + multi(m, n-1)

In [152]:
multi(2, 10)

20

### C-4.14

In [159]:
def Hanoi(a, b, c, n):                # a means source, b means target, c means mid
    if n == 2:                        # when n = 2, do base case
        print(a + "=>" + c)
        print(a + "=>" + b)
        print(c + "=>" + b)
    else:
        Hanoi(a, c, b, n-1)           # i want to move (n-1) from a to c, and use b as mid, so that i can move No.n from a to b
        print(a + "=>" + b)           # move No.n from a to b
        Hanoi(c, b, a, n-1)           # move (n-1) from c to b, and use a as mid, so that i can commit the mession

In [161]:
Hanoi('a', 'b', 'c', 4)

a=>c
a=>b
c=>b
a=>c
b=>a
b=>c
a=>c
a=>b
c=>b
c=>a
b=>a
c=>b
a=>c
a=>b
c=>b

### C-4.15

In [270]:
def subs(l):
    if l == []:
        return [[]]

    x = subs(l[1:])

    return x + [[l[0]] + y for y in x]

In [271]:
subs([1, 2, 3])

[[], [3], [2], [2, 3], [1], [1, 3], [1, 2], [1, 2, 3]]

In [277]:
a = [[2] + y for y in [[1], [3]]]
a

[[2, 1], [2, 3]]

In [278]:
[1] + [2]

[1, 2]

### C-4.16

In [281]:
a = "abcd"
a[1]

'b'

In [309]:
def str_permutation(S, start, stop):
    if start >= stop:
        return 0
    else:
        S[start], S[stop-1] = S[stop-1], S[start]
        str_permutation(S, start+1, stop-1)
        return S
    
def str_list(S):
    Sm = str_permutation(list(S), 0, len(S))
    Sr = ''
    for i in Sm:
        Sr += i
    return Sr

In [310]:
str_list('abcdefg')

'gfedcba'

In [311]:
str_list('pots&pans')

'snap&stop'

### C-4.17

In [313]:
def str_plalindrome(S):
    Sp = ''
    for i in str_permutation(list(S), 0, len(S)):
        Sp += i
    print(S)
    print(Sp)
    if Sp == S:
        return True
    else:
        return False

In [314]:
str_plalindrome('abcba')

abcba
abcba

True

In [315]:
str_plalindrome('racecar')

racecar
racecar

True

### C-4.18

In [333]:
def vowel_vs_consonant(S, i):
    vovel = ['a', 'e', 'i', 'o', 'u']
    if i == 0:
        return 0
    else:
        com_num = vowel_compare_consonant(S, i-1)
        if S[i-1] in vovel:
            com_num += 1
        else:
            com_num -= 1
        return com_num

def compare_result(S):
    Sl = list(S)
    result_num = vowel_compare_consonant(Sl, len(Sl))
    if result_num > 0:
        print("vowel more than consonant")
    elif result_num == 0:
        print("vowel number equal consonant number")
    else:
        print("vowel less than consonant")

In [331]:
vowel_compare_consonant(['a','e','i','o','u'], 5)

5

In [334]:
compare_result('aeiou')

vowel more than consonant

In [335]:
compare_result('aecdf')

vowel less than consonant

In [336]:
compare_result('aeicdf')

vowel number equal consonant number

### C-4.19

In [356]:
def odd_after_even(S, start, stop):
    if stop == len(S):
        return 0
    else:
        if S[start] % 2 == 0:
            odd_after_even(S, start+1, stop+1)
        """
        another method:               # 这种方式在算法上，时间复杂度更低，当遇到一连串的偶数时，这种方式将会直接跳过整串偶数，直接定位到第一个奇数
        if S[start] % 2 == 0:
            if S[stop] % 2 == 1:
                odd_after_even(S, stop, stop+1)
            else:
                odd_after_even(S, start, stop+1)
        """
        else:
            if S[stop] % 2 == 0:
                S[start], S[stop] = S[stop], S[start]
                odd_after_even(S, start+1, stop+1)
            else:
                odd_after_even(S, start, stop+1)
    return S

In [357]:
odd_after_even([1, 1, 3, 4, 6, 6, 9, 10, 12, 17, 1, 7, 9], 0, 1)

[4, 6, 6, 10, 12, 3, 9, 1, 1, 17, 1, 7, 9]

思路：  
建立两个游标，start 和 stop，开始时，start 和 stop 分别代表序列 S 的 0 和 1 的索引位置，游标会根据不同的情况有不同的改变  
那么，会有以下情况：  
第一：S[start] 为偶数，这种情况就不需要做任何操作，无论 S[stop] 是奇数还是偶数，我们都保证了偶数在奇数前面，这时候，我们只需要将 start 和 stop 游标各加 1，用来检查下一组数字即可  
第二：S[start] 为奇数，这时候，我们就不能保证偶数在奇数前面，但由于 S[start] 这个奇数是整序列 S 里第一个奇数，所以只要将这个奇数与后面的第一个偶数互换位置，就能继续保证偶数在奇数前面，于是，我们检查 S[stop] 的奇偶情况，如果为偶数，那么直接调换位置即可，接着继续执行下面的检查。如果为奇数，那么我们需要增加 stop 的游标量，直到找到 S[start] 后面的第一个偶数。

### C-4.20

In [361]:
def lalala(S, k, start, stop):
    if stop == len(S):
        return 0
    else:
        if S[start] <= k:
            lalala(S, k, start+1, stop+1)
        else:
            if S[stop] <= k:
                S[start], S[stop] = S[stop], S[start]
                lalala(S, k, start+1, stop+1)
            else:
                lalala(S, k, start, stop+1)
    return S

In [364]:
lalala([6, 5, 4, 3, 2, 1], 3, 0, 1)

[3, 2, 1, 6, 5, 4]

### C-4.21

In [401]:
def balala(S, k, start, stop):
    if start == len(S)-1:
        return False
    else:
        #print("-> {0}".format([start, stop]))
        #if (S[start] + S[stop]) > k:
        #    balala(S, k, start+1, start+2)
        if (S[start] + S[stop] != k):
            if stop == len(S)-1:
                balala(S, k, start+1, start+2)
            else:
                balala(S, k, start, stop+1)
        else:
            print([S[start], S[stop]])

In [404]:
balala([1, 2, 3, 4, 5], 3, 0, 1)

[1, 2]